venv/
.idea/
**/__pycache__
src/run/build/
src/run/dist/
src/run/data/
src/run/log_dir/
src/out/
src/nuitka-crash-report.xml
src/dist
src/sis.egg-info
src/build
./src/data/
./src/run/data/
./src/run/log_dir/
./src/out/
./src/run/config/
./data/
./log_dir/
./config/
/config/
/data/
/log_dir/
./src/database/
src/data/
archived/spider_image_system/data/
archived/spider_image_system/data-r18/
archived/spider_image_system/log_dir/
*.json
*.txt
*.DS_Store
*.*.log
logs/
data-r18/
.DS_Store
*.mp4
*.m4a
*.part
*.DS_Store
